* {
  font-family: Helvetica;
  text-align: center;
}

h1 {
  font-size: 10vh;
  font-weight: bold;
  color: khaki;
  background-image: url(/photos/pattern.jpeg);
  padding: 2vh;
}

h2 {
  font-size: 5vh;
  font-weight: bold;
  color: white;
}

.brushes h2 {
  background-color: mediumspringgreen;
}

.frames h2 {
  background-color: lightcoral;
}

.paint h2 {
  background-color: skyblue;
}

strong {
  font-weight: bold;
  color: blue;
}

.paint {
  padding-bottom: 10vh;
}

footer {
  font-size: 1.5vh;
  padding-bottom: 5vh;

}